.notes-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 5rem;
  color: #fff;

  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  cursor: pointer;
}

.note:hover {
  background-color: var(--color-primary);
}
