.notes-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-note);
  font-size: 5rem;
  color: var(--color-text);
  border-radius: 4px;
  transition: all 500ms;
  user-select: none;
}

.note:hover {
  background-color: var(--color-primary);
  color: white;
}

.note:hover + .star {
  color: white;
}

.star:hover {
  color: white;
}

.star {
  width: 40px;
  margin-top: -44px;
  margin-left: 5px;

  font-size: 2rem;
  color: var(--color-primary);
  cursor: pointer;
  user-select: none;
}

.notes-create-button {
  display: flex;
  margin: 0 auto;
  background: var(--color-note);
  font-size: 5rem;
  color: var(--color-text);
  border: none;
  border-radius: 4px;

  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
}

.notes-create-button:hover {
  background-color: var(--color-primary);
  color: white;
}
