.note-detail {
  display: flex;
  justify-content: center;
}

.note-detail input,
textarea {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
  background-color: var(--color-note);
  color: var(--color-navbar-text);
}

.note-detail input[type="text"],
textarea {
  border: 2px solid var(--color-note);
  width: 300px;
}

.note-detail input::placeholder,
textarea::placeholder {
  color: var(--color-navbar-text);
}

.note-detail textarea {
  height: 300px;
  font-family: "Noto Sans", sans-serif;
}

.note-detail input[type="text"]:focus,
textarea:focus {
  outline: 2px solid var(--color-navbar-text);
  outline-offset: 2px;
}

.note-detail input[type="submit"] {
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: var(--color-primary);
}

.note-detail input[type="submit"]:hover {
  background-color: var(--color-primary-darker);
}

.note-detail label {
  user-select: none;
}

.note-detail .head {
  margin-bottom: 4px;
  display: none; /*displayed none, in NoteCreation displays on change*/
  color: var(--color-navbar-text);
}

.note-detail .error {
  color: var(--color-navbar-text);
  font-weight: bold;
  text-align: center;
  margin-top: 13px;
  user-select: none;
}

.note-detail .favourite {
  display: flex;
  color: white;
  font-size: 20px;
  margin: 0 auto;
}

.note-detail input[type="checkbox"] {
  margin-top: 6px;
  transform: scale(1.5);
  margin-right: 8px;
}

@media only screen and (max-width: 600px) {
  .note-detail {
    margin-top: 8%;
  }
  .note-detail input[type="submit"] {
    margin-top: 20px;
  }
  .note-detail .error {
    margin-top: 20px;
  }
}
