.login-form {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

.login-form h1 {
  display: flex;
  justify-content: center;
}

.login-form input {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  border: 0px solid #000;
  border-radius: 2px;
  text-align: center;
}

.login-form input[type="text"],
input[type="password"] {
  background-color: #000;
  color: white;
  /*text-decoration: underline white;*/
  text-underline-offset: 2.5px;
  width: 100vh;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

.login-form input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

.login-form input[type="submit"] {
  margin: 0 auto;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: var(--color-primary);
}

.login-form input[type="submit"]:hover {
  background-color: var(--color-primary-darker);
}

.login-form input[type="submit"]:focus {
  background-color: var(--color-primary-darker);
  outline: none;
}

.login-form img {
  width: 90px;
  position: absolute;
  top: -90%;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-top svg,
.wave-bottom svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.wave-bottom,
.wave-top {
  fill: var(--color-primary-darker);
}
